input {
font-family: Courier,monospace;
color: #ff7276;
font-size: 30px;
border: none;
border-bottom:1px solid #ff7276;
}

input:focus {
outline-width:0px;
box-shadow: none;
border: none;
border-bottom:1px solid #ff7276;
}